.wrapper {
  display: flex;
  height: 203px;
  width: 1440px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style-type: none;
  color: white;
  margin: 0 28px;
  font-size: 27px;
}
ul {
  display: flex;
}
