/* General CSS styles for the whole APP */
.App {
  background-color: #353232;
  height: 100vw;
}
* {
  font-family: "Open Sans", sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-family: "Open Sans", sans-serif;
}
